{
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "semi": true,
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true
}
